/* ==========================================================================
   RMHC Korea 캠페인 전용 CSS (src/css/campaign.css)
   ========================================================================== */

.campaign-container {
  padding-top: 15rem;
  }

.campaign-container .page-header-wrap {
  max-width: 120rem;
  margin: 0 auto;  
  font-size: 2.2rem;
  text-align: center;
}

.campaign-container .img-top-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 8rem;
}

.campaign-container .btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.campaign-container .btn-play img {
  width: 8rem;
  height: 8e959frem;
}

.campaign-container .line-path-wrap {
  margin-top: 20rem;
  text-align: center;
}